<div *ngIf="this.gameState as game" class="game">
  <ng-container *ngIf="game.isGameMaster(this.playerId); else playerDisplay">
    <div class="master-game-board">
      <div *ngIf="!game.sentence; else gameStart">
        <app-game-sentence-form
          (onSubmit)="startRound($event)"
          [isLoading]="gameLoading"
        ></app-game-sentence-form>
      </div>

      <ng-template #gameStart>
        <app-game-master-sentence-display
          [sentence]="game.sentence"
          [guesses]="game.guesses"
        ></app-game-master-sentence-display>

        <br />
        <br />

        <app-letter-guess-form
          [disabled]="game.isRevealed || game.isSentenceGuessed"
          [isLoading]="gameSentenceLoading"
          (onSubmit)="submitLetterGuess($event)"
        ></app-letter-guess-form>

        <app-button
          [disabled]="game.isRevealed || game.isSentenceGuessed"
          (click)="revealSentence()"
          [isLoading]="revealLoading"
          >Reveal</app-button
        >

        <br />

        <app-button (click)="endRound()">New Round</app-button>

        <br />

        <app-toggle-button
          [isLoading]="showLetterGuessesLoading"
          [checked]="game.showLetterGuesses"
          (click)="toggleShowGuesses()"
          >Show guessed letters</app-toggle-button
        >

        <br />
        <br />
        <br />

        <app-button (click)="openGameBoard()">Open Game Board</app-button>

        <br />

        <app-area *ngIf="(webcams | async) as webcams">

          <app-toggle-button
            [isLoading]="showWebcamLoading"
            [checked]="game.showWebcam"
            (click)="toggleWebcam()"
            >Show webcam</app-toggle-button
          >

          <div *ngFor="let webcam of webcams">
            <br />
            <app-button (click)="chooseWebcam(webcam.deviceId)" [disabled]="!game.showWebcam">
              {{ webcam.label }}
            </app-button>
          </div>
        </app-area>

      </ng-template>
    </div>
  </ng-container>

  <ng-template #playerDisplay>
    <div class="player-display">
      <div class="letter-guesses" *ngIf="game?.showLetterGuesses">
        <span *ngFor="let guess of game.guesses">
          {{ guess }}
        </span>
      </div>
      <h1>{{ game.category }}</h1>
      <app-sentence-display
        *ngIf="game.sentence"
        [isRevealed]="game.isRevealed"
        [sentence]="game.sentence"
        [guesses]="game.guesses"
      ></app-sentence-display>
    </div>
  </ng-template>
</div>

<router-outlet></router-outlet>
