<div *ngIf="isGameMaster; else playerDisplay">
  <div *ngIf="!sentence; else gameStart">
    <app-game-sentence-form
      (onSubmit)="startRound($event)"
      [isLoading]="gameLoading"
    ></app-game-sentence-form>
  </div>

  <ng-template #gameStart>
    <app-game-master-sentence-display
      [sentence]="sentence"
      [guesses]="guesses"
    ></app-game-master-sentence-display>

    <br />
    <br />

    <app-letter-guess-form
      [isLoading]="gameSentenceLoading"
      (onSubmit)="submitLetterGuess($event)"
    ></app-letter-guess-form>

    <app-button
      [disabled]="isRevealed"
      (click)="revealSentence()"
      [isLoading]="revealLoading"
      >Reveal</app-button
    >

    <br />

    <app-button (click)="endRound()">New Round</app-button>

    <br />

    <app-toggle-button
      [isLoading]="showLetterGuessesLoading"
      [checked]="this.game.showLetterGuesses"
      (click)="toggleShowGuesses()"
      >Show guessed letters</app-toggle-button
    >
  </ng-template>
</div>

<ng-template #playerDisplay>
  <div class="letter-guesses" *ngIf="this.game?.showLetterGuesses">
    <span *ngFor="let guess of this.guesses">
      {{ guess }}
    </span>
  </div>
  <h1>{{ category }}</h1>
  <app-sentence-display
    *ngIf="sentence"
    [isRevealed]="isRevealed"
    [sentence]="sentence"
    [guesses]="guesses"
  ></app-sentence-display>
</ng-template>
