:host {
  display: grid;
  grid-template-columns: auto 560px auto;
  justify-content: center;

  div.game {
    grid-column: 2;

    div.letter-guesses {
      font-size: larger;
      text-align: center;
    }
  }
}
