<div *ngIf="isGameMaster; else playerDisplay">
  <div *ngIf="!game?.sentence; else gameStart">
    <app-game-sentence-form
      (onSubmit)="submitSentence($event)"
      [isLoading]="gameLoading"
    ></app-game-sentence-form>
  </div>

  <ng-template #gameStart>
    <app-game-master-sentence-display
      [sentence]="game.sentence"
      [guesses]="game.guesses"
    ></app-game-master-sentence-display>
    <br />
    <br />
    <app-letter-guess-form
      [isLoading]="gameSentenceLoading"
      (onSubmit)="submitLetterGuess($event)"
    ></app-letter-guess-form>
  </ng-template>
</div>

<ng-template #playerDisplay>
  <h1>{{ game?.category }}</h1>
  <app-sentence-display
    *ngIf="game?.sentence"
    [sentence]="game.sentence"
    [guesses]="game.guesses"
  ></app-sentence-display>
</ng-template>
