<form [formGroup]="form" (ngSubmit)="submit()">
  <app-input-field
    [formGroup]="form"
    placeholder="Category"
    [formControlName]="categoryInput"
  ></app-input-field>

  <app-textarea
    [formGroup]="form"
    placeholder="Game sentence"
    [formControlName]="gameSentenceInput"
  ></app-textarea>

  <app-button type="submit" [isLoading]="isLoading">Start game</app-button>

  <div
    *ngIf="hasError(gameSentenceInput) || hasError(categoryInput) || error"
    class="error"
  >
    <p>{{ getError(gameSentenceInput) }}</p>
    <p>{{ getError(categoryInput) }}</p>

    {{ error }}
  </div>
</form>
