@import "./../../../../colors";
* {
  box-sizing: border-box;
}

:host {
  display: block;

  button {
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    height: 56px;
    padding: 8px 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #414141;
    cursor: pointer;
    width: 100%;

    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    background-color: $trans-1;

    &:hover,
    &:disabled {
      background-color: $trans-2;
    }

    &:disabled {
      background-color: transparent;
    }

    &.border {
      border: 1px solid #dfe1e6;
    }

    span.loader {
      display: grid;
      align-items: center;
      justify-items: center;
    }
  }

  &.wide {
    button {
      min-width: 200px;
    }
  }

  &.flatten-right {
    button {
      border-right-color: transparent !important;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &.flatten-left {
    button {
      border-left-color: transparent !important;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  &.primary {
    button {
      color: #deffe7;
      border: solid $green-v-5 1px;
      background-color: $green-v-4;

      &:hover {
        background-color: $green-v-5;
      }

      &:disabled {
        opacity: 0.3;
      }
    }
  }

  &.secondary,
  &.notification {
    button {
      background-color: $grey-1;
      border: solid $grey-2 1px;

      &:hover {
        background-color: $grey-2;
      }

      &:disabled {
        opacity: 0.2;
      }
    }
  }

  &.link {
    button {
      background-color: transparent;

      &:hover,
      &:disabled {
        background-color: $trans-1;
      }
    }
  }

  &[icon] {
    button {
      display: grid;
      justify-items: center;
      align-items: center;
      padding: 0;
      width: 56px;
      border-radius: 100%;
    }
  }

  &.notification {
    position: relative;

    &:after {
      content: "";
      font-size: 12px;
      align-items: center;
      justify-content: center;
      color: $grey-0;
      display: grid;
      min-width: 20px;
      box-sizing: border-box;
      padding: 0 4px;
      height: 20px;
      background-color: $red-v-5;
      border: 1px solid $red-v-6;
      position: absolute;
      top: -2px;
      left: -2px;
      border-radius: 20px;
    }

    &.right {
      &:after {
        right: -2px;
      }
    }
  }
}
