@use "./../../../../colors.scss" as *;

:host {
  display: grid;
  grid-template-columns: auto 560px auto;
  justify-content: center;

  app-button {
    grid-column: 2;
  }

  p {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: $grey-5;
  }
}
